In [2]:
#https://mizykk.tistory.com/13

import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.datasets import load_iris

In [3]:
load_iris

In [4]:
fruit = pd.DataFrame({'name':['apple', 'banana', 'cherry', 'durian', np.nan],
                      'color':['red', 'yellow', 'red', 'green', np.nan]})

In [5]:

pd.get_dummies(fruit['name'])

   apple  banana  cherry  durian
0      1       0       0       0
1      0       1       0       0
2      0       0       1       0
3      0       0       0       1
4      0       0       0       0

In [6]:
pd.get_dummies(fruit, columns = ['name'])

    color  name_apple  name_banana  name_cherry  name_durian
0     red           1            0            0            0
1  yellow           0            1            0            0
2     red           0            0            1            0
3   green           0            0            0            1
4     NaN           0            0            0            0

In [7]:
pd.get_dummies(fruit['name'], drop_first=True)

   banana  cherry  durian
0       0       0       0
1       1       0       0
2       0       1       0
3       0       0       1
4       0       0       0

In [9]:
fruit.loc[3]=None

In [10]:
fruit

     name   color
0   apple     red
1  banana  yellow
2  cherry     red
3    None    None
4     NaN     NaN

In [13]:
fruit.fillna({'color':' '})

     name   color
0   apple     red
1  banana  yellow
2  cherry     red
3    None
4     NaN